
{% include "layouts/navbar.html" %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Challenge: Mad Libs</title>
</head>
<body>

<h1>Mad Libs</h1>

<ul>
    <li>Object 1: <input type="text" id="ob1"></li>
    <li>Object 2: <input type="text" id="ob2"></li>
    <li>Object 3: <input type="text" id="ob3"></li>
</ul>

<button id="button">Submit!</button>

<p>Generated story:
    <span id="story"></span>
</p>

<script>


        var Button = document.getElementById('button');

        function madLibs(ob1, ob2, ob3) {
            var storyDiv = document.getElementById("story");
            var ob1 = document.getElementById("ob1").value;
            var ob2 = document.getElementById("ob2").value;
            var ob3 = document.getElementById("ob3").value;
            var list = [ob1, ob2, ob3]

            storyDiv.innerHTML = "I took my " + list + " to the beach with my friends.";


                if (ob1 === "") {
                    alert("Object 1 is empty!");
                }
                if (ob2 === "") {
                    alert("Object 2 is empty!");
                }
                if (ob3 === "") {
                    alert("Object 3 is empty!");
                }

            }
        Button.addEventListener('click', madLibs);



</script>


</body>
</html>